- provide(:title, 'Tietoa')
.row
  .span10.offset1
    .center.hero-unit
      %p PK-helppi on pienyritysten toimintojen helpottamiseksi kehitetty ohjelmisto. Tavoitteena on luoda helposti yrityksille yksinkertainen, tärkeimmät toiminnot tarjoava sovellus edulliseen hintaan. 
  
