-provide(:title, 'Ota yhteyttä')
.row
	.span10.offset1
		.center.hero-unit
			%p Jos tarvitset tukea ohjelmiston käyttöön, haluat ilmoittaa bugista tai kehitysideasta, tai muuten vain haluat lisätietoa, lähetä sähköpostia osoitteeseen:
			%h3 janne.laukkanen@pkhelppi.com
	
